.wrapperContent {
    display: flex;
}

.navbar {
    width: var(--width-navbar);
    height: calc(100vh - var(--height-navbar-top));
}

.content {
    width: calc(100vh - var(--width-navbar));
    height: calc(100vh - var(--height-navbar-top));
}